<%= render "layouts/admin_side_nav" %>
<section>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h1 class="m-0 text-dark">FUNCIONARIOS</h1>
          <%= render 'form', employee: @employee %>
          <%= link_to 'Atras', employees_path, class: "btn btn-primary btn-sm" %>
        </section>
