<section>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h2 class="m-0 text-dark">EDITAR</h2>
          <%= render 'form', listado: @listado %>
          <%= link_to 'Show', @listado %> |
          <%= link_to 'Back', listados_path %>
        </div>
      </div>
    </div>
  </div>
  <section>
