<%= render "layouts/admin_side_nav" %>
<section>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h2 class="m-0 text-dark">EQUIPOS</h2>
          <%= render 'form', equipment: @equipment %>
          <%= link_to 'Atras', equipment_index_path, class: "btn btn-primary btn-sm" %>
        </section>
