<div class="py-5 text-center container">
  <div class="row py-lg-5">
    <div id='banner'><%= image_tag "índice.jpg", :alt=> "banner", :height => '150px' %></div>
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="display-4">BIENVENIDO</h1>
          <p class="lead text-muted">Gestor de recursos informaticos de la Universidad Nacional de Itapua, creado para el relevamiento de datos de equipos, funcionarios y los departamentos.</p>
          <p>
            <div id='banner'><%= image_tag "images.png", :alt=> "banner", :height => '100px' %></div>
          </div>
        </div>
        <a href="/admin" class="btn btn-primary my-2">Ir al administrador </a>
      </p>
    </div>
  </div>
</div>
