<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Agregar Departamento</h1>
        </div>
        <%= render 'form', departament: @departament %>
        <%= link_to 'Atrás', departaments_path %>
