<div class="center jumbotron">
  <h1>Departamentos</h1>
</div>
<div class="box2">
  <label>Quick Links</label>
  <%= link_to 'About' , about_path%> |
  <%= link_to 'Departament' , departaments_path%>
</div>
