<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <div class="center">  <span class="brand-text font-weight-light"> Gestor de Recursos </span>
    </a>
  </div>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" >
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="/departaments" class="nav-link active">
            <i class="far fa-building"></i>
            <p>
              Departamentos
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/employees" class="nav-link active">
                <i class="fas fa-user-tag"></i>
                <p>Funcionarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/equipment" class="nav-link">
                <i class="fas fa-laptop"></i>
                <p>Equipos Informaticos</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
